/* Start Sharing common style */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* End Sharing common style */

/* Start Menu bar style */
nav{
    background-color: rgba(172, 166, 166, 0.5);
    padding:15px;
}
.menubar-container{
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.menubar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    color: cyan;
    text-transform: uppercase;
    cursor: pointer;
    
}
.menubar-logo >img{
    width: 200px;
}
.menubar-list-item{
    margin-right: 10px;
    padding: 10px;
    font-size: 25px;
    color: rgb(52, 51, 51);
}
.menubar-list-item:hover{
    color: #F94C30;
}
/* End Menu bar style */
/* Start Banner style */
.banner-container{
    width: 100%;
    height: 100vh;
    background-image:url("../asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-title{
    font-size: 86px;
    font-weight: 900;
    color: white;
}
.banner-title >span{
    color: #F52C2C;
}
.banner-description{
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.primary-button{
    padding: 15px 35px;
    font-size: 16px;
    border: 1px solid #F52C2C;
    color:white;
    margin: 5px;
    background-color: #F52C2C;
    border-radius: 5px;
    cursor: pointer;
}
.primary-button:hover{
    border: 1px solid white;
    color:#F52C2C;
    background-color: white;
}
.banner-button{
    margin-right: 25px;
}

/* End Banner style */
/* Start Service style */
.service-container{
    width: 100%;
    height: 100vh;
    background-image:url("../asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 12px;
    gap: 25px;
    padding-bottom: 125px;
}
/* Start Service Left Side, Description Service */
.service-lift-side-container{
    width: 48%;
}
.service-button{
    padding: 15px 35px;
    margin: 5px;
    border-radius: 5px;
    border-radius: 10px;
    background-color: white;
    color: gray;
    border-radius: 25px;
    font-size: 16px;
    border: none;
}
.service-title{
    font-size: 40px;
    font-weight: bold;
    padding: 7px;
    color: rgb(190, 207, 208);
}
.service-description{
    width: 75%;
    font-size: 20px;
    color: #becfd0;
    font-weight: 400;
    padding: 12px;
}
.service-facilities{
    width: 75%;
    font-size: 18px;
    color: #becfd0;
    font-weight: 400;
    padding: 22px;
}
.service-author-container{
    display: flex;
    justify-content: start;
    align-items: center;
}
.service-author-profile{
    display: flex;
    justify-content: start;
    align-items: center;
    padding:7px;
    margin-right: 10px;
    border-right: 1px solid rgb(245, 44, 44);
}
.service-author-img{
    width: 25%;
    border-radius: 100%;
}
.service-author-name-title{
    margin-left: 10px;
}
.author-button{
    border-radius: 5px;
    border-radius: 10px;
    background-color: white;
    color: gray;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    padding:13px 20px;
    border: 1px solid white;
    color: rgb(245, 44, 44); 
}
.author-button:hover{
    color: white;
    background-color:rgb(245, 44, 44); 
    border: 1px solid rgb(245, 44, 44);
    cursor: pointer;
}
 /* End Service Left Side, Description Service */
 /* Start Service Right Side, Box Service */
.service-box-icon{
    width: 100px;
    padding: 10px;
}
.service-box{
    width: 200px;
    height:200px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(26, 24, 24);
    padding: 50px;
    border-radius: 5px;
    color: black;
    text-align: center;
}
.all-service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap:15px;
}
 /* End Service Right Side, Box Service */
/* End Service style */
/* Start Appointment style */
.appointment-container{
    background-color:rgb(245, 44, 44);
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: auto;
    margin-top: -80px;
    border-radius: 15px;
    color: white;
}
.appointment-contact{
    display: flex;
    color: white;
    align-items: center;
    align-items: center;
    padding: 10px;
    border-right: 2px solid gray;
}
.appointment-contact-icon{
    width: 100px;
    padding: 15px;
}
.appointment-contact-number{
    font-size:32px ;
}
.appointment-description{
    padding: 15px;
    text-align: justify;
}
.appointment-button{
    padding:10px;
}
.appointment-but{
    padding: 13px 30px;
    border-radius: 25px;
    border: none;
    background-color: #F0F0F0;
    color: rgb(74, 74, 74); 
    border: 1px solid white;
}
.appointment-but:hover{
    color: white;
    background-color:rgb(240, 21, 21); 
    border: 1px solid white;
    cursor: pointer;

}
/* End Appointment style */