/* Sharing common style */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* Menu bar style */
nav{
    background-color: rgba(172, 166, 166, 0.5);
    padding:15px;
}
.menubar-container{
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.menubar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    color: cyan;
    text-transform: uppercase;
    cursor: pointer;
    
}
.menubar-logo >img{
    width: 200px;
}
.menubar-list-item{
    margin-right: 10px;
    padding: 10px;
    font-size: 25px;
    color: rgb(52, 51, 51);
}
.menubar-list-item:hover{
    color: #F94C30;
}
/* Banner style */